<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- thymeleaf fragment in layouts.html -->
<head th:replace="layouts :: head"></head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Project Managers Directory</h3>
    <hr>

    <!--    Add new Employee Button -->
    <a th:href="@{managers/new}" class="btn btn-primary btn-sm mb-3">New Project Manager</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Projects</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aManager : ${managers}">
            <td th:text="${aManager.firstName}"></td>
            <td th:text="${aManager.lastName}"></td>
            <td th:text="${aManager.email}"></td>
            <td th:text="${aManager.projects}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>