body{
    background: white;
}

/*.myPieChart {*/
/*    height: 100px !important;*/
/*    width: 200px !important;*/
/*}*/

/*active navs*/
#nav ul li .active {
    color: white;
}

.form-control {
    width: 15rem;
}

/*submit button on all forms*/
.col-2 {
    min-width: 150px;
}