<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!--    Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Timelines | Project Management</title>
</head>




<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">Timelines | Project Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/locations}">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/managers}">Managers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employees</a>
            </li>
        </ul>

    </div>
</nav>


<footer th:fragment="footer" >
    <p style="flex: 1 0  auto;">&copy;2020 | Timelines | Project Management |
        <a href="mailto:hege@example.com">contact@timelines.business</a></p>
</footer>

</html>