<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
</head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form th:object="${employee}" th:action="@{/employees/save}" method="POST">
<!--        this hidden employeeId is used to bind to the employee that was clicked on for update DB operations-->
        <input type="hidden" th:field="${employee.employeeId}"/>

        <input type="text" placeholder="First Name" th:field="${employee.firstName}">

        <input type="text" placeholder="Last Name" th:field="${employee.lastName}">

        <input type="text" placeholder="Email" th:field="${employee.email}">

        <input type="text" placeholder="Position" th:field="${employee.position}">

        <select th:field="${employee.manager}">
            <option th:each = "manager : ${allManagers}"
                    th:value = "${manager.managerId}"
                    th:text = "${manager.firstName} + ' ' + ${manager.lastName}">
            </option>
        </select>


        <button type="submit">Create Employee</button>
    </form>

</div>

<!-- thymeleaf fragment in layouts.html -->
<footer th:replace="layouts :: footer"></footer>

</body>

</html>