<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Projects Directory</h3>
    <hr>

<!--    Add new Project Button -->
    <a th:href="@{projects/new}" class="btn btn-primary btn-sm mb-3">New Project</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
            <th>Project Manager</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projects}">
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
                <td th:text="${aProject.manager}"></td>

            </tr>
        </tbody>
    </table>
</div>

</body>
</html>