<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Projects Directory</h3>
    <hr>

<!--    Add new Project Button -->
    <a th:href="@{projects/new}" class="btn btn-primary btn-sm mb-3">New Project</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th style="text-align: center;">Project Name</th>
            <th style="text-align: center;">Project Stage</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">Project Manager</th>
            <th style="text-align: center;">Location</th>
            <th colspan="5" style="text-align: center;">Employees</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projects}">
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
                <td th:text="${aProject.description}"></td>
                <td th:each="manager : ${aProject.managers}"
                    th:text="${manager.firstName} + ' ' + ${manager.lastName} ?: 'None'"></td>
                <td th:text="${aProject.location} ?: 'None'"></td>
                <td th:each="employee : ${aProject.employees}"
                th:text="${employee.firstName} + ' ' + ${employee.lastName} ?: 'None'"></td>


            </tr>
        </tbody>
    </table>
</div>

</body>
</html>